<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!-- 双向绑定 -->
  <div id="app">
    精通的语言：
    <input type="checkbox" v-model="language" value="java">Java<br>
    <input type="checkbox" v-model="language" value="php">PHP<br>
    <input type="checkbox" v-model="language" value="python">Python<br>
    选中了 {{ language.join(",") }}
  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        language: []
      }
    })
  </script>


</body>
</html>